
.bank-logo {
    height: 80px;
    
  
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.line {
    height: 40px;
    background-color: #008849;
}

.bank-content {
   padding: 40px 25px;
}

.bc-inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bc-in {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bc-in input {
    height: 50px;
    padding: 0px 12px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
}

.bc-in2 {
     display: flex;
    flex-direction: column;
    gap: 6px;
}

.bc-in2 input {
    height: 50px;
    border: none;
    width: 100%;
}

.pass-box  {
    border: 1px solid #008849; 
    display: flex;
    align-items: center;
    padding: 0px 12px;
      border-radius: 5px;
}

.bc-submit {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.bc-submit button {
    height: 50px;
    background-color: #008849;
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 19px;
}

.bc-cancel {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.bc-cancel button {
    height: 50px;
    color: #008849;
    border: 2px solid #008849;
    background-color: #eee;
    border-radius: 7px;
    font-size: 19px;
}


.opt {
    margin-top: 50px;
    opacity: 0.7;
    line-height: 25px;
}

