

.cp-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cp-nav i{
    font-size: 30px;
}

.cp{
    padding: 20px 30px;
}

.cp-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cp-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.cp-inputs p{
    font-weight: 800;
    font-size: 20px;
}

.cp-inputs input {
    height: 50px;padding: 0px 20px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 7px;
}

.cp-box button {
    height: 60px;
    border-radius: 30px;
    border: none;
    background: #008849;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}