

.signup {
    padding: 100px 20px;
    background-color: #F4F4F4;
}

.sign-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
}

.sign-head p {
    text-align: center;
    font-weight: 1;
}

.signup-form {
    background-color: white;
    margin-top: 28px;
    padding: 30px 23px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.span {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.sign-input p{
    font-weight: 600;
    font-size: 15px;
}


.sign-input {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.sign-input input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 8px;
    height: 45px;
    padding: 0px 15px;
}

.signup-form button{
  border: none;
  background-color: #008849;
  color: white;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
} 

.already {
    color: #008849;
    font-size: 17px;
    padding-top: 20px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 493px;
}

.loader {
  color: #FFF;
  position: relative;
  font-size: 11px;
  background: #008849;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background:  #008849;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%, 80%, 100% {
    box-shadow: 0 0 #008849;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #008849;
    height: 5em;
  }
}

.dob-label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
}

.dob-select-group {
  display: flex;
  gap: 10px;
}

.dob-select {
  flex: 1;
  padding: 10px 12px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  transition: border-color 0.3s ease;
}

.dob-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}