

.verify3 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 30px 30px;
}

.verify-nav i {
    font-size: 30px;
}

.verify-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
 
}

.verify-head p {
       line-height: 23px;
}

.verify-head h1 {
       line-height: 40px;
}

.verify-head h1 {
    font-size: 30px;
}


.verify-pic img {
    width:100%;
}

.verify-button {
    height: 60px;
    border: none;
    background: #008849;
    color: white;
    border-radius: 30px;
    width: 100%;
}